venv
pyvenv.cfg
.ipynb_checkpoints
*.pyc
.DS_Store
.env
.idea
/tests/**/*.csv

*.egg-info
*.egg
.tox
*.*~
/*.log
/.eggs

lib
lib64
share

# Downloaded by setup.py install and build
validator/ml/corpora/nltk_data/

# Build file #
##############
build/
dist/

# Coverage #
############
.coverage
htmlcov

